<div class="details-header">
    <a class="show-filters" href="#"><i class="fa fa-angle-left"></i> Filters</a>
</div>
<div class="inner">
    <h2><%= name %></h2>
    <h3><%= address_line %></h3>
    <% if (images.data.length) { %>
    <div class="slider">
        <% _.each(images.data, function(image) { %>
        <div><img src="<%= image.url %>?w=640&h=320&fit=crop&crop=center"></div>
        <% }) %>
    </div>
    <% } else { %>
    <div><img src="/assets/img/placeholder.jpg" style="max-width: 100%;"></div>
    <% } %>
    <% if (tags.data.length > 0) { %>
    <ul class="tags">
        <% _.each(tags.data, function(tag) { %>
            <li><%= tag.name %></li>
        <% }) %>
    </ul>
    <% } %>
    <div class="profile">
        <% if (!_.isUndefined(organizations.data[0]) && !_.isUndefined(organizations.data[0].profile)) { %>
            <% _.each(organizations.data[0].profile.data, function(field) { %>
                <% if (!_.isEmpty(field.entry)) { %>
                    <% if ('textarea' == field.field_type) { %>
                        <p class="textarea"><%= urlReplaceHelper(field.entry) %></p>
                    <% } else if ('url' == field.field_type) { %>
                        <div class="profile-field">
                            <span class="label"><%= field.label %></span>
                            <span class="entry"><a href="<%= field.link_href %>" target="_blank"><%= field.link_text %></a></span>
                        </div>
                    <% } else if ('multi_select' == field.field_type) { %>
                        <div class="profile-field">
                            <span class="label"><%= field.label %></span>
                            <span class="entry"><%= _.pluck(_.filter(field.options, function(option) { return _.contains(field.entry, option.id) }), 'value').join(', ') %></span>
                        </div>
                    <% } else { %>
                        <div class="profile-field">
                            <span class="label"><%= field.label %></span>
                            <span class="entry"><%= field.entry %></span>
                        </div>
                    <% } %>
                <% } %>
            <% }) %>
        <% } %>
    </div>
</div>