@mixin reset-list() {
  list-style: none;
  margin: 0; padding: 0;
}

@mixin header-style() {
  font-weight: normal;
  margin: 0 0 10px 0;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder { color: $color; }
  &:-moz-placeholder { color: $color; }
  &::-moz-placeholder { color: $color; }
  &:-ms-input-placeholder { color: $color; }
}

@mixin box-sizing {
  html { box-sizing: border-box; }
  *, *:before, *:after { box-sizing: inherit; }
}

@mixin square($size) {
  display: block;
  width: $size;
  height: $size;
}

@mixin circle($size) {
  @include square($size);
  border-radius: 100%;
}

@mixin button($background-color) {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  padding: 8px 0;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: $background-color;
  color: white;
}

@mixin tags-style() {
  @include reset-list;
  @include clearfix();
  li {
    float: left;
    background-color: $blue;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
    margin-right: 5px;
  }
}

@mixin slick-dots {
  .slick-dots { bottom: -16px; }
  .slick-dots li {
    margin: 0;
    button {
      @include circle(10px);
      background-color: white;
      border: 1px solid #bdc3c7;
      &::before {
        content: '';
        color: transparent;
        @include circle(10px);
      }
    }
    &.slick-active button {
      background-color: $orange;
      border-color: $orange;
    }
  }

}


