@import "colors";
@import "mixins";

@include box-sizing;

$font-family: 'Helvetica', arial, sans-serif;
$container-width: 636px;
$header-width: 778px;
$border: 1px solid $grey-light;
$padding: 20px;

@mixin text-style {
  font-family: $font-family;
  font-weight: normal;
  color: $blue;
}

div.container {
  border-left: $border;
  border-right: $border;
  width: 100%;
  max-width: $container-width;
  margin: 0 auto 40px auto;
  padding: 0;
  @include clearfix;
}

.download-app-container {
  margin: 0;
  line-height: 1;
  padding: 10px 0;
  position: absolute;
  right: 0;
  top: 10px;
  background-color: transparent;
  @include text-style;
  font-size: 18px;
  a {
    @include circle(40px);
    display: inline-block;
    background-color: $grey-light;
    text-align: center;
    line-height: 40px;
    margin-left: 14px;
  }
  i.fa {
    font-size: 22px;
    color: $orange;
  }
}

footer .download-app-container {
  padding: 7px 0;
  font-size: 90%;
  top: 0;
  a {
    @include square(30px);
    display: inline-block;
    background-color: white;
    line-height: 30px;
    margin-left: 7px;
  }
  i.fa { font-size: 16px; }
}

header {
  img.logo {
    left: 0;
    top: 10px;
    position: absolute;
    width: 242px; height: auto;
    margin: 0;
    padding: 0;
  }
  background-color: white;
  border-bottom: 1px solid #c5c5c6;
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
}
.header-inner {
  text-align: center;
  position: relative;
  height: 80px;
  margin: 0 auto;
  width: 100%;
  max-width: $header-width;
}

.favorites {
  @include text-style;
  border-top: $border;
  margin: 0;
  padding: 20px;
  display: block;
  text-align: left;
  line-height: 19px;
  .icon.favorite {
    margin-right: 4px;
    vertical-align: top;
    display: inline-block;
    width: 20px;
    height: 19px;
    background: transparent url('../img/favorite.png');
  }
}

.organizations {
  border-top: $border;
  border-bottom: $border;
  padding: 0;
}

.tags-container {
  border-top: $border;
  padding: 20px 20px 15px 20px;
}

.tags {
  padding: $padding;
  @include tags-style();
}

.location-header {
  padding: $padding;
}

.location-title,
.organizations-title,
.location-subtitle {
  font-family: $font-family;
  margin: 0;
  font-size: 28px;
  font-weight: normal;
  color: $blue;
  text-align: center;
}

.location-title { margin-bottom: 8px; }
.organizations-title {
  padding: $padding;
  text-align: left;
}
.location-subtitle { font-size: 20px; }

.organization-profile {
  margin-bottom: 1px;
  &:last-child { margin-bottom: 0; }
}

.organization__header {
  .toggle {
    position: absolute;
    color: orange;
    font-size: 60px;
    right: 20px;
    top: 20px;

  }
  &.open i.fa { transform: rotate(180deg); }
  position: relative;
  background-color: $blue-light;
  padding: 20px;
  min-height: 100px;
  cursor: pointer;
  border-bottom: solid 2px #fff;
  h2, h3 {
    @include text-style;
    margin: 0; padding: 0;
    margin-left: 60px + 16px;
  }
  h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  h3 { font-size: 18px; }

  .image-container {
    left: 20px; top: 20px;
    position: absolute;
    @include circle(60px);
    background-color: white;
    background-size: cover;
  }

  .glyphicon {
    position: absolute;
    right: 20px;
    top: 28px;
    font-size: 40px;
    color: $orange;
  }
}

.organization__profile {
  margin: 0;
  padding: $padding;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $blue;
  line-height: 180%;

  a { color: $blue; }

  dt {
    float: left;
    font-style: italic;
    font-weight: normal;
    line-height: 25px;
  }
  dd {
    font-weight: bold;
    line-height: 25px;
  }
}

.slider {
  @include slick-dots();
  width: 100%;
  img {
    width: 100%;
    height: auto;
  }
  margin-bottom: 0 !important;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $grey-light;
  height: 46px;
}
.footer-inner {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: $header-width;
  p.credits {
    margin: 0;
    position: absolute;
    line-height: 20px;
    top: 13px;
    font-size: 14px;
    color: $blue;
  }
}


@media screen and (max-width: 768px) {
  header {
    .header-inner {
      height: auto;
    }

    img.logo {
      position: relative;
    }

    .download-app-container {
      position: relative;
      padding-bottom: 15px;
      font-size: 90%;
      line-height: 30px;
      i.fa {
        font-size: 16px;
      }
      a {
        width: 30px;
        height: 30px;
        line-height: 30px;
      }
    }
  }

  div.container {
    margin-bottom: 10px;

    .organization__header {
      .image-container {
        width: 40px;
        height: 40px;
      }

      h2 {
        margin-left: 56px;
        margin-right: 30px;
        font-size: 18px;
      }

      h3 {
        margin-left: 56px;
        margin-right: 30px;
        font-size: 15px;
      }

      .toggle {
        font-size: 40px;
      }
    }

    .slick-prev {
      left: 10px;
    }

    .slick-next {
      right: 10px;
    }
  }

  footer {
    height: auto;
    position: relative;
    .footer-inner {
      text-align: center;
      p.credits {
        position: relative;
        padding-bottom: 10px;
      }

      .download-app-container {
        position: relative;
        padding-bottom: 15px;
      }
    }
  }
}

html.page404 {
  height: 100%;
  body {
    height: 100%;
  }

  .header-404 {
    text-align: center;

    .title {
      color: #bcbcbc;
      text-transform: uppercase;
      font-size: 160px;
      margin: 0;
      padding: 30px 0;
    }

    .subtitle {
      color: $blue;
      font-size: 30px;
      font-weight: normal;
    }
  }
}
