@import "colors";
@import "mixins";

@import "no-ui-slider";

$filter-width: 320px;
$sidebar-padding: 16px;
$download-app-height: 40px;

@include box-sizing;

body {
  margin: 0; padding: 0;
}

.filter-is-visible {
  .toggle-filter { display: none; }
}

$ease-in-out-quint: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
.filter,
.details {
  position: fixed;
  width: $filter-width;
  height: 100vh;
  background: #f0f0f0;
  right: 0; top: 0;
  z-index: 2;
  transform: translate3d(0,0,0);
  transition: transform .3s $ease-out-quint;
  overflow-x: hidden;
  overflow-y: auto;
  .inner {
    padding: $sidebar-padding;
    padding-bottom: $sidebar-padding + $download-app-height;
  }

  .details-header {
    border-bottom: 1px solid $grey-light;
    height: 44px;
    line-height: 44px;
    padding: 0 $sidebar-padding;
    a {
      @include button($orange);
      text-decoration: none;
      padding: 8px 10px;
    }
  }

  .tags {
    @include tags-style;
    margin-top: 16px;
  }

  .profile-field,
  .textarea {
    margin: 8px 0;
  }

  span.label,
  span.entry,
  span.entry a,
  p.textarea,
  p.textarea a {
    color: $blue;
    font-size: 14px;
    line-height: 160%;
  }

  span.label {
    font-style: italic;
    margin-right: 6px;
  }
  span.entry { font-weight: bold; }
}

.download-app-container {
  background-color: #f0f0f0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: $filter-width;
  height: $download-app-height;
  z-index: 5;
  margin: 0;
  line-height: 1;
  color: $blue;
  font-size: 16px;
  padding-left: $sidebar-padding;
  a {
    display: inline-block;
    text-align: center;
    line-height: 40px;
    margin-left: 14px;
  }
  i.fa {
    font-size: 22px;
    color: $orange;
  }

}

.filter {
  transform: translateX(0);
  .details-are-visible & { transform: translateX(-100%); }
}

.details {
  z-index: 3;
  transform: translateX(100%);
  .close {
    text-decoration: none;
    color: $purple;
    @include square(30px);
    text-align: center;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 32px;
    line-height: 30px;
  }
  .details-are-visible & { transform: translateX(0); }

  @include slick-dots;
  .slider {
    width: $filter-width;
    margin-left: -$sidebar-padding;
    margin-right: -$sidebar-padding;
    img {
      width: 100%;
      height: auto;
    }
    margin-bottom: 0 !important;
  }
  h2 {
    color: $blue;
    @include header-style();
    font-size: 24px;
    line-height: 1;
    margin-bottom: 8px;
  }
  h3 {
    color: $blue;
    @include header-style();
    font-size: 18px;
    margin-bottom: $sidebar-padding;
  }

}

.toggle-filter {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
  width: 120px;
  @include button($orange);
}

#map {
  position: absolute;
  top: 0; right: $filter-width; bottom: 0; left: 0;
  z-index: 5;
}

@mixin icon-size($width, $height) {
  width: $width !important;
  height: $height !important;
  background-size: $width $height;
}

.leaflet-marker-icon {
  background-color: transparent !important;
  &.building {
    //background: transparent url('../img/icon_building_@2X.png');
    background: transparent url('../img/icon_building.svg');
    @include icon-size(26px, 42px);
  }
  &.open-space {
    //background: transparent url('../img/icon_open_space_@2X.png');
    background: transparent url('../img/icon_open_space.svg');
    @include icon-size(46px, 41px);
  }
  &.open-space.is-selected,
  &.building.is-selected {
    z-index: 9999999 !important;
    transition: transform .2s $ease-in-out-quint;
  }
  &.open-space.is-selected { background-image: url('../img/icon_open_space_orange.svg'); }
  &.building.is-selected { background-image: url('../img/icon_building_orange.svg'); }

  &.cluster {
    //background: transparent url('../img/icon_building_@2X.png');
    background: transparent url('../img/icon_building.svg');
    @include icon-size(40px, 64px);
    .location-count-badge {
      @include circle(28px);
      line-height: 28px;
      position: absolute;
      top: -5px; left: 50%;
      margin-left: -14px;
      background: $turquoise;
      color: white;
      box-shadow: 0 2px 10px white;
      text-align: center;
      font-size: 14px !important;
    }
  }
}

.filter form {
  .form-group { margin: 20px 0; }

  label {
    display: block;
    color: $blue;
    margin-bottom: 10px;
    font-family: Helvetica, Arial, sans-serif;
    &.checkbox-header { text-decoration: underline; }
  }

  .reset-filter {
    color: $orange;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }

  .form-control {
    outline: 0 none;
    height: 35px;
    padding: 6px 10px;
    font-size: 13px;
    line-height: 1.462;
    border-radius: 4px;
    border: 1px solid $blue;
    color: #468bd9;
    font-family: Helvetica, Arial, sans-serif;
    box-shadow: none;
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    width: 100%;
    &.year { width: 50%; }
    @include placeholder-color(#888);

    &:focus,
    &:active {
      border-color: $orange;
    }

  }
}

.map-legends {
  background: rgba(255,255,255,0.7);
  margin: 0 0 10px 0 !important;
  border-radius: 0;
}
