@font-face {
  font-family: 'helvetica-light';
  src: url("../fonts/helveticaneue-light.eot");
  src: url("../fonts/helveticaneue-light.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-light.woff") format("woff"), url("../fonts/helveticaneue-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'helvetica';
  src: url("../fonts/helvetica-regular.eot");
  src: url("../fonts/helvetica-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica-regular.woff") format("woff"), url("../fonts/helvetica-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'helvetica-bold';
  src: url("../fonts/helveticaneue-bold.eot");
  src: url("../fonts/helveticaneue-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-bold.woff") format("woff"), url("../fonts/helveticaneue-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body, html {
  height: 100%;
  background-color: #f3f4f5; }

:focus {
  outline: none; }

::-webkit-input-placeholder {
  color: #d7dcde; }

:-moz-placeholder {
  color: #d7dcde;
  opacity: 1; }

::-moz-placeholder {
  color: #d7dcde;
  opacity: 1; }

:-ms-input-placeholder {
  color: #d7dcde; }

.inline-block {
  display: inline-block; }

.main-container {
  min-height: 100%;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto; }

.avatar {
  display: inline-block;
  vertical-align: middle;
  border: solid 2px #6c53ff;
  border-radius: 28px;
  width: 28px;
  height: 28px;
  background-image: url("../img/profile.png");
  background-size: cover; }

.user-container {
  height: 50px;
  line-height: 50px;
  color: #6c53ff;
  font-size: 15px; }
  .user-container .avatar {
    margin-right: 6px; }
  .user-container a {
    font-weight: bold;
    color: inherit; }
  .user-container a.logout {
    font-weight: normal;
    margin-left: 6px; }

.content-container {
  background-color: #fff;
  min-height: 500px;
  padding: 30px 20px; }

.nav-container {
  padding-right: 0; }
  .nav-container a {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important; }

#logo {
  width: 100%;
  height: 132px;
  background-image: url("../img/logo.png");
  background-size: 60px auto;
  background-position: center top;
  background-repeat: no-repeat;
  margin: 10px 0 30px 0; }
  #logo.big {
    height: 200px;
    background-size: 80px auto; }

.table th {
  font-family: 'helvetica-bold';
  font-weight: normal; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 0 0 10px 0; }

h1 {
  font-size: 24px;
  font-weight: normal; }
  h1.page-title {
    margin: 0 0 20px 0; }

h2.page-title {
  font-size: 20px; }

.border-bottom {
  border-bottom: solid 2px #d7dcde !important; }

.nav-tabs li:not(.active) {
  border-left: solid 2px transparent;
  border-right: solid 2px transparent;
  border-top: solid 2px transparent; }

.nav-tabs li.active a {
  color: #ff892a !important; }

.no-margin-top {
  margin-top: 0; }

.margin-top {
  margin-top: 20px; }

.margin-top-40 {
  margin-top: 40px; }

.trash {
  color: #468bd9;
  margin: 0 10px; }
  .trash span {
    font-size: 22px; }
  .trash.disabled {
    color: #bdc3c7;
    cursor: not-allowed; }

#map {
  width: 100%;
  height: 400px; }

#address-input {
  margin: 016px;
  width: 50%;
  padding: 3px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }

.preview-address {
  background-color: transparent !important;
  border-color: #f1f1f1 !important;
  color: #478cd9 !important; }

.tag {
  display: inline-block;
  cursor: pointer; }

.images-container img {
  margin-bottom: 10px;
  border: 2px solid #bdc3c7;
  border-radius: 6px;
  background: white;
  padding: 10px;
  width: 215px;
  height: auto;
  cursor: move; }
  .images-container img:hover {
    border-color: #ff892a; }
.images-container > div {
  position: relative; }
.images-container .delete {
  position: absolute;
  left: 200px;
  top: -10px;
  width: 30px;
  height: 30px;
  text-align: center; }
  .images-container .delete input[type=submit] {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: #fff url("../img/close.png") no-repeat;
    background-position: left top;
    display: inline-block;
    transition: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 4px;
    border: solid 2px #bdc3c7; }
    .images-container .delete input[type=submit]:hover {
      border-color: #ff892a;
      background-position: left bottom; }

.image-container .fileinput-preview {
  height: auto; }
  .image-container .fileinput-preview > div {
    width: 100%;
    height: 150px;
    background-size: cover;
    cursor: pointer; }

.profile-image-container {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  margin-bottom: 10px;
  border: 2px solid #bdc3c7;
  background-color: white;
  padding: 5px; }
  .profile-image-container:hover {
    border-color: #ff892a; }
  .profile-image-container > div {
    position: relative;
    width: 186px;
    height: 186px;
    border-radius: 186px;
    background-size: cover;
    border: 0;
    cursor: pointer;
    padding: 0; }
    .profile-image-container > div img {
      min-width: 186px !important;
      min-height: 186px !important;
      max-height: none;
      max-width: none; }
  .profile-image-container .delete {
    position: absolute;
    left: 150px;
    top: 10px;
    width: 30px;
    height: 30px;
    text-align: center; }
    .profile-image-container .delete button {
      width: 30px;
      height: 30px;
      border-radius: 30px;
      background: #fff url("../img/close.png") no-repeat;
      background-position: left top;
      display: inline-block;
      transition: 0;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding: 4px;
      border: solid 2px #bdc3c7; }
      .profile-image-container .delete button:hover {
        border-color: #ff892a;
        background-position: left bottom; }

.header-image-container {
  width: 200px;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px solid #bdc3c7;
  background-color: white;
  padding: 5px; }
  .header-image-container:hover {
    border-color: #ff892a; }
  .header-image-container > div {
    position: relative;
    width: 186px;
    height: 136px;
    background-size: cover;
    border: 0;
    cursor: pointer;
    padding: 0; }
    .header-image-container > div img {
      min-width: 186px !important;
      min-height: 186px !important;
      max-height: none;
      max-width: none; }
  .header-image-container .delete {
    position: absolute;
    right: 20px;
    top: -10px;
    width: 30px;
    height: 30px;
    text-align: center; }
    .header-image-container .delete button {
      width: 30px;
      height: 30px;
      border-radius: 30px;
      background: #fff url("../img/close.png") no-repeat;
      background-position: left top;
      display: inline-block;
      transition: 0;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding: 4px;
      border: solid 2px #bdc3c7; }
      .header-image-container .delete button:hover {
        border-color: #ff892a;
        background-position: left bottom; }

.fileinput-preview {
  width: 215px;
  height: 150px; }

.modal-title {
  font-size: 18px; }

.modal-body {
  font-size: 15px; }

.select2, .select2-container {
  font-size: 14px !important; }
  .select2 .select2-selection, .select2-container .select2-selection {
    border: solid 2px #468bd9;
    height: 31px;
    border-radius: 6px; }
  .select2 .select2-selection__arrow, .select2-container .select2-selection__arrow {
    height: 31px !important; }
    .select2 .select2-selection__arrow b, .select2-container .select2-selection__arrow b {
      border-top-color: #468bd9 !important; }
  .select2 .select2-dropdown, .select2-container .select2-dropdown {
    border-color: #468bd9 !important;
    border-width: 2px; }
  .select2 .select2-search__field, .select2-container .select2-search__field {
    border: solid 2px #468bd9 !important;
    border-radius: 6px; }
  .select2 .select2-results__option--highlighted, .select2-container .select2-results__option--highlighted {
    background: #468bd9 !important; }

.select2-search {
  display: block !important; }

.table th,
.table td {
  padding: 8px !important; }

.table .checkbox,
.table .radio {
  margin-left: 0 !important; }

.organization-thumb {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  display: inline-block;
  overflow: hidden;
  border: solid 2px #6c53ff; }

.comment-tree {
  background: transparent;
  display: inline-block;
  width: 40px;
  height: 12px;
  border-left: 1px solid #468bd9;
  border-bottom: 1px solid #468bd9; }

.btn-sm .fui-trash {
  font-size: 16px;
  padding-top: 6px;
  padding-left: 2px; }

.profile-field-container {
  padding: 10px;
  background: white;
  border: 2px solid #d7dcde;
  margin-bottom: 20px;
  border-radius: 5px; }
  .profile-field-container h4 {
    line-height: 1;
    font-weight: normal;
    margin: 0 0 5px 0; }
    .profile-field-container h4 .fa {
      cursor: move;
      color: #bbc4c7; }

.add-field-form {
  padding: 10px;
  border-radius: 5px; }
  .add-field-form h4 {
    line-height: 1;
    font-weight: normal;
    margin: 0 0 5px 0; }

.organization-profile {
  padding: 10px;
  border: 2px solid #d7dcde;
  margin-bottom: 20px;
  border-radius: 5px; }
  .organization-profile h3 {
    font-weight: normal;
    margin: 10px 0; }
    .organization-profile h3 span {
      vertical-align: top;
      line-height: 44px;
      margin-left: 4px; }

/*.pagination > ul,
.dataTables_paginate > ul {
    background: darken($grey-light, 16%);
    li { margin: 0 !important; }
    // TODO some weird spacing in this paginator
}*/
.pagination-plain {
  font-weight: normal;
  color: #bdc3c7; }
  .pagination-plain a {
    color: #bdc3c7 !important; }
  .pagination-plain li.active {
    color: #ff892a !important; }
  .pagination-plain li.disabled a {
    cursor: default; }

.row.margin-bottom {
  margin-bottom: 20px; }

.table th a {
  color: #468bd9; }

.alert {
  border: none;
  padding-left: 20px; }
  .alert h4 {
    font-size: 16px; }
  .alert .close {
    top: -2px; }

a.underline {
  text-decoration: underline; }

.tags h3,
.tags h4 {
  margin: 20px 0 10px 0; }

.profile-field-container :disabled,
.profile-field-container .disable {
  display: none; }

.save-msg {
  position: absolute !important;
  line-height: 16px;
  font-size: 14px;
  text-align: center;
  width: 215px;
  bottom: -30px;
  left: 0; }

.thumbnail img {
  background-color: #fff; }

.organization-images-container .small {
  line-height: 16px;
  font-size: 14px; }

.link-small {
  font-size: 13px; }

.per-page-container {
  font-size: 13px; }
  .per-page-container li {
    display: inline-block;
    list-style-type: none; }
    .per-page-container li span {
      cursor: pointer;
      text-decoration: underline;
      color: #ff892a; }
      .per-page-container li span.active {
        text-decoration: none;
        color: #468bd9; }
