html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

div.container {
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  width: 100%;
  max-width: 636px;
  margin: 0 auto 40px auto;
  padding: 0; }
  div.container:after {
    content: "";
    display: table;
    clear: both; }

.download-app-container {
  margin: 0;
  line-height: 1;
  padding: 10px 0;
  position: absolute;
  right: 0;
  top: 10px;
  background-color: transparent;
  font-family: "Helvetica", arial, sans-serif;
  font-weight: normal;
  color: #468bd9;
  font-size: 18px; }
  .download-app-container a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: inline-block;
    background-color: #f0f0f0;
    text-align: center;
    line-height: 40px;
    margin-left: 14px; }
  .download-app-container i.fa {
    font-size: 22px;
    color: #ff892a; }

footer .download-app-container {
  padding: 7px 0;
  font-size: 90%;
  top: 0; }
  footer .download-app-container a {
    display: block;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: white;
    line-height: 30px;
    margin-left: 7px; }
  footer .download-app-container i.fa {
    font-size: 16px; }

header {
  background-color: white;
  border-bottom: 1px solid #c5c5c6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05); }
  header img.logo {
    left: 0;
    top: 10px;
    position: absolute;
    width: 242px;
    height: auto;
    margin: 0;
    padding: 0; }

.header-inner {
  text-align: center;
  position: relative;
  height: 80px;
  margin: 0 auto;
  width: 100%;
  max-width: 778px; }

.favorites {
  font-family: "Helvetica", arial, sans-serif;
  font-weight: normal;
  color: #468bd9;
  border-top: 1px solid #f0f0f0;
  margin: 0;
  padding: 20px;
  display: block;
  text-align: left;
  line-height: 19px; }
  .favorites .icon.favorite {
    margin-right: 4px;
    vertical-align: top;
    display: inline-block;
    width: 20px;
    height: 19px;
    background: transparent url("../img/favorite.png"); }

.organizations {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  padding: 0; }

.tags-container {
  border-top: 1px solid #f0f0f0;
  padding: 20px 20px 15px 20px; }

.tags {
  padding: 20px;
  list-style: none;
  margin: 0;
  padding: 0; }
  .tags:after {
    content: "";
    display: table;
    clear: both; }
  .tags li {
    float: left;
    background-color: #468bd9;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
    margin-right: 5px; }

.location-header {
  padding: 20px; }

.location-title,
.organizations-title,
.location-subtitle {
  font-family: "Helvetica", arial, sans-serif;
  margin: 0;
  font-size: 28px;
  font-weight: normal;
  color: #468bd9;
  text-align: center; }

.location-title {
  margin-bottom: 8px; }

.organizations-title {
  padding: 20px;
  text-align: left; }

.location-subtitle {
  font-size: 20px; }

.organization-profile {
  margin-bottom: 1px; }
  .organization-profile:last-child {
    margin-bottom: 0; }

.organization__header {
  position: relative;
  background-color: #ecf5ff;
  padding: 20px;
  min-height: 100px;
  cursor: pointer;
  border-bottom: solid 2px #fff; }
  .organization__header .toggle {
    position: absolute;
    color: orange;
    font-size: 60px;
    right: 20px;
    top: 20px; }
  .organization__header.open i.fa {
    transform: rotate(180deg); }
  .organization__header h2, .organization__header h3 {
    font-family: "Helvetica", arial, sans-serif;
    font-weight: normal;
    color: #468bd9;
    margin: 0;
    padding: 0;
    margin-left: 76px; }
  .organization__header h2 {
    font-size: 22px;
    margin-bottom: 10px; }
  .organization__header h3 {
    font-size: 18px; }
  .organization__header .image-container {
    left: 20px;
    top: 20px;
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: white;
    background-size: cover; }
  .organization__header .glyphicon {
    position: absolute;
    right: 20px;
    top: 28px;
    font-size: 40px;
    color: #ff892a; }

.organization__profile {
  margin: 0;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #468bd9;
  line-height: 180%; }
  .organization__profile a {
    color: #468bd9; }
  .organization__profile dt {
    float: left;
    font-style: italic;
    font-weight: normal;
    line-height: 25px; }
  .organization__profile dd {
    font-weight: bold;
    line-height: 25px; }

.slider {
  width: 100%;
  margin-bottom: 0 !important; }
  .slider .slick-dots {
    bottom: -16px; }
  .slider .slick-dots li {
    margin: 0; }
    .slider .slick-dots li button {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: white;
      border: 1px solid #bdc3c7; }
      .slider .slick-dots li button::before {
        content: '';
        color: transparent;
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 100%; }
    .slider .slick-dots li.slick-active button {
      background-color: #ff892a;
      border-color: #ff892a; }
  .slider img {
    width: 100%;
    height: auto; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  height: 46px; }

.footer-inner {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 778px; }
  .footer-inner p.credits {
    margin: 0;
    position: absolute;
    line-height: 20px;
    top: 13px;
    font-size: 14px;
    color: #468bd9; }

@media screen and (max-width: 768px) {
  header .header-inner {
    height: auto; }
  header img.logo {
    position: relative; }
  header .download-app-container {
    position: relative;
    padding-bottom: 15px;
    font-size: 90%;
    line-height: 30px; }
    header .download-app-container i.fa {
      font-size: 16px; }
    header .download-app-container a {
      width: 30px;
      height: 30px;
      line-height: 30px; }

  div.container {
    margin-bottom: 10px; }
    div.container .organization__header .image-container {
      width: 40px;
      height: 40px; }
    div.container .organization__header h2 {
      margin-left: 56px;
      margin-right: 30px;
      font-size: 18px; }
    div.container .organization__header h3 {
      margin-left: 56px;
      margin-right: 30px;
      font-size: 15px; }
    div.container .organization__header .toggle {
      font-size: 40px; }
    div.container .slick-prev {
      left: 10px; }
    div.container .slick-next {
      right: 10px; }

  footer {
    height: auto;
    position: relative; }
    footer .footer-inner {
      text-align: center; }
      footer .footer-inner p.credits {
        position: relative;
        padding-bottom: 10px; }
      footer .footer-inner .download-app-container {
        position: relative;
        padding-bottom: 15px; } }
html.page404 {
  height: 100%; }
  html.page404 body {
    height: 100%; }
  html.page404 .header-404 {
    text-align: center; }
    html.page404 .header-404 .title {
      color: #bcbcbc;
      text-transform: uppercase;
      font-size: 160px;
      margin: 0;
      padding: 30px 0; }
    html.page404 .header-404 .subtitle {
      color: #468bd9;
      font-size: 30px;
      font-weight: normal; }
