.range-slider {
  margin: 40px 14px; }

.noUi-connect {
  background-color: #ff892a; }

.noUi-horizontal .noUi-handle-upper .noUi-tooltip {
  right: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }

.filter-is-visible .toggle-filter {
  display: none; }

.filter,
.details {
  position: fixed;
  width: 320px;
  height: 100vh;
  background: #f0f0f0;
  right: 0;
  top: 0;
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
          transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow-x: hidden;
  overflow-y: auto; }
  .filter .inner,
  .details .inner {
    padding: 16px;
    padding-bottom: 56px; }
  .filter .details-header,
  .details .details-header {
    border-bottom: 1px solid #f0f0f0;
    height: 44px;
    line-height: 44px;
    padding: 0 16px; }
    .filter .details-header a,
    .details .details-header a {
      font-family: Helvetica Neue, Arial, sans-serif;
      font-weight: normal;
      font-size: 14px;
      text-align: center;
      padding: 8px 0;
      outline: none;
      border: none;
      border-radius: 4px;
      background-color: #ff892a;
      color: white;
      text-decoration: none;
      padding: 8px 10px; }
  .filter .tags,
  .details .tags {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 16px; }
    .filter .tags:after,
    .details .tags:after {
      content: "";
      display: table;
      clear: both; }
    .filter .tags li,
    .details .tags li {
      float: left;
      background-color: #468bd9;
      border-radius: 5px;
      padding: 5px 10px;
      margin-bottom: 5px;
      font-size: 14px;
      color: white;
      margin-right: 5px; }
  .filter .profile-field,
  .filter .textarea,
  .details .profile-field,
  .details .textarea {
    margin: 8px 0; }
  .filter span.label,
  .filter span.entry,
  .filter span.entry a,
  .filter p.textarea,
  .filter p.textarea a,
  .details span.label,
  .details span.entry,
  .details span.entry a,
  .details p.textarea,
  .details p.textarea a {
    color: #468bd9;
    font-size: 14px;
    line-height: 160%; }
  .filter span.label,
  .details span.label {
    font-style: italic;
    margin-right: 6px; }
  .filter span.entry,
  .details span.entry {
    font-weight: bold; }

.download-app-container {
  background-color: #f0f0f0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 320px;
  height: 40px;
  z-index: 5;
  margin: 0;
  line-height: 1;
  color: #468bd9;
  font-size: 16px;
  padding-left: 16px; }
  .download-app-container a {
    display: inline-block;
    text-align: center;
    line-height: 40px;
    margin-left: 14px; }
  .download-app-container i.fa {
    font-size: 22px;
    color: #ff892a; }

.filter {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }
  .details-are-visible .filter {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%); }

.details {
  z-index: 3;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%); }
  .details .close {
    text-decoration: none;
    color: #6c53ff;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 32px;
    line-height: 30px; }
  .details-are-visible .details {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .details .slick-dots {
    bottom: -16px; }
  .details .slick-dots li {
    margin: 0; }
    .details .slick-dots li button {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: white;
      border: 1px solid #bdc3c7; }
      .details .slick-dots li button::before {
        content: '';
        color: transparent;
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 100%; }
    .details .slick-dots li.slick-active button {
      background-color: #ff892a;
      border-color: #ff892a; }
  .details .slider {
    width: 320px;
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: 0 !important; }
    .details .slider img {
      width: 100%;
      height: auto; }
  .details h2 {
    color: #468bd9;
    font-weight: normal;
    margin: 0 0 10px 0;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 8px; }
  .details h3 {
    color: #468bd9;
    font-weight: normal;
    margin: 0 0 10px 0;
    font-size: 18px;
    margin-bottom: 16px; }

.toggle-filter {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
  width: 120px;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  padding: 8px 0;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #ff892a;
  color: white; }

#map {
  position: absolute;
  top: 0;
  right: 320px;
  bottom: 0;
  left: 0;
  z-index: 5; }

.leaflet-marker-icon {
  background-color: transparent !important; }
  .leaflet-marker-icon.building {
    background: transparent url("../img/icon_building.svg");
    width: 26px !important;
    height: 42px !important;
    background-size: 26px 42px; }
  .leaflet-marker-icon.open-space {
    background: transparent url("../img/icon_open_space.svg");
    width: 46px !important;
    height: 41px !important;
    background-size: 46px 41px; }
  .leaflet-marker-icon.open-space.is-selected, .leaflet-marker-icon.building.is-selected {
    z-index: 9999999 !important;
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.86, 0, 0.07, 1);
            transition: transform 0.2s cubic-bezier(0.86, 0, 0.07, 1); }
  .leaflet-marker-icon.open-space.is-selected {
    background-image: url("../img/icon_open_space_orange.svg"); }
  .leaflet-marker-icon.building.is-selected {
    background-image: url("../img/icon_building_orange.svg"); }
  .leaflet-marker-icon.cluster {
    background: transparent url("../img/icon_building.svg");
    width: 40px !important;
    height: 64px !important;
    background-size: 40px 64px; }
    .leaflet-marker-icon.cluster .location-count-badge {
      display: block;
      width: 28px;
      height: 28px;
      border-radius: 100%;
      line-height: 28px;
      position: absolute;
      top: -5px;
      left: 50%;
      margin-left: -14px;
      background: #2fcfc2;
      color: white;
      box-shadow: 0 2px 10px white;
      text-align: center;
      font-size: 14px !important; }

.filter form .form-group {
  margin: 20px 0; }
.filter form label {
  display: block;
  color: #468bd9;
  margin-bottom: 10px;
  font-family: Helvetica, Arial, sans-serif; }
  .filter form label.checkbox-header {
    text-decoration: underline; }
.filter form .reset-filter {
  color: #ff892a;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none; }
  .filter form .reset-filter:hover {
    text-decoration: underline; }
.filter form .form-control {
  outline: 0 none;
  height: 35px;
  padding: 6px 10px;
  font-size: 13px;
  line-height: 1.462;
  border-radius: 4px;
  border: 1px solid #468bd9;
  color: #468bd9;
  font-family: Helvetica, Arial, sans-serif;
  box-shadow: none;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
          transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  width: 100%; }
  .filter form .form-control.year {
    width: 50%; }
  .filter form .form-control::-webkit-input-placeholder {
    color: #888; }
  .filter form .form-control:-moz-placeholder {
    color: #888; }
  .filter form .form-control::-moz-placeholder {
    color: #888; }
  .filter form .form-control:-ms-input-placeholder {
    color: #888; }
  .filter form .form-control:focus, .filter form .form-control:active {
    border-color: #ff892a; }

.map-legends {
  background: rgba(255, 255, 255, 0.7);
  margin: 0 0 10px 0 !important;
  border-radius: 0; }
